.personal-area-menu{
  width: 95vw; padding: 20px;

  .personal-area-menu-list{
    display: flex; justify-content: left; align-items: center;

    .menu-button{
      font-size: 25px;
      margin: 0 30px;
    }

    .active-menu-link{
      color: white;
    }

  }

}

